body {
	/*overflow: hidden;*/
}

.standalone-only {
	display: none;
}

body.in-iframe #wrapper {
	min-height: 100px;
}

body.mobile #wrapper {
	padding: 0px 13px;
}

.col {
	float: left;
	padding: 0px 20px;
}

.col:first-child {
	padding-left: 0px;
}

.col:last-child {
	padding-right: 0px;
}

.col.col-25 {
	width: 25%;
}

.col.col-20 {
	width: 20%;
}
.col.col-40 {
	width: 40%;
}

.col.col-50 {
	width: 50%;
}

.col.col-70 {
	width: 70%;
}

.col.col-80 {
	width: 80%;
}

.col.col-30 {
	width: 30%;
}

.col.col-33 {
	width: 33.33%;
}
.col.col-66 {
	width: 66.66%;
}

.col.col-100 {
	width: 100%;
	padding: 0px;
}

.editor, .monitor {
	margin-top: 20px;
	/*overflow: hidden;*/
}

.editor > * {
	float: left;
	width: 100%;
}

#dashboard {
	margin-bottom: 100px;
}


.comment {
	-webkit-font-smoothing: antialiased;
	font-family: 'Source Sans Pro';
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	color: #000000;
}

.select2-container,
.select2-drop,
.input-group {
	font-size: 16px;
	line-height: 16px;
	font-family: "Benton Sans Cond";
}
.select2-container .select2-choice abbr {
	top: 6px;
}

.caret {
	font-family: "Tamedia Icons";
    content: '#';
}

.open-area-dropdown .text,
.dropdown .dropdown-toggle .text {
	padding-right: 26px;
}

.open-area-dropdown .text:after,
.dropdown .dropdown-toggle .text:after {
    position: absolute;
    padding-left: 10px;
    font-family: "Tamedia Icons";
    content: '#';    
}

.open-area-dropdown.is-open .text:after,
.dropdown.open .dropdown-toggle .text:after {
	content: '$';
}

.glyphicon-remove {
	margin-left: 5px;
    font-family: "Tamedia Icons";
    font-size: 17px;
}
.glyphicon-remove:before {
	content: '3';
}

.sync-in-progress {
	outline: 6px #FFFFFF solid !important;
	background-color: #FFFFFF;
	opacity: 0.6;

	-webkit-transition: opacity 200ms linear;
    -moz-transition: opacity 200ms linear;
    -o-transition: opacity 200ms linear;
    -ms-transition: opacity 200ms linear;
    transition: opacity 200ms linear;
}

.sync-successfull {
	outline: 6px #d1f9c6 solid !important;
    background-color: #d1f9c6;
    opacity: 1;
    -webkit-transition: outline-color 200ms linear, background-color 200ms linear, opacity 200ms linear;
    -moz-transition: outline-color 200ms linear, background-color 200ms linear, opacity 200ms linear;
    -o-transition: outline-color 200ms linear, background-color 200ms linear, opacity 200ms linear;
    -ms-transition: outline-color 200ms linear, background-color 200ms linear, opacity 200ms linear;
    transition: outline-color 200ms linear, background-color 200ms linear, opacity 200ms linear;
}

.sync-error {
	outline: 6px #e85757 solid !important;
    background-color: #e85757;
    opacity: 1;
    -webkit-transition: outline-color 200ms linear, background-color 200ms linear, opacity 200ms linear;
    -moz-transition: outline-color 200ms linear, background-color 200ms linear, opacity 200ms linear;
    -o-transition: outline-color 200ms linear, background-color 200ms linear, opacity 200ms linear;
    -ms-transition: outline-color 200ms linear, background-color 200ms linear, opacity 200ms linear;
    transition: outline-color 200ms linear, background-color 200ms linear, opacity 200ms linear;
}

.sync-done {
	outline: 6px #FFFFFF solid !important;
    background-color: #FFFFFF;
    opacity: 1;
    -webkit-transition: outline-color 200ms linear, background-color 200ms linear;
    -moz-transition: outline-color 200ms linear, background-color 200ms linear;
    -o-transition: outline-color 200ms linear, background-color 200ms linear;
    -ms-transition: outline-color 200ms linear, background-color 200ms linear;
    transition: outline-color 200ms linear, background-color 200ms linear;
}

.sync-loading-bar {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -25%;
	margin-top: -5px;
	width: 50%;
	height: 10px;
	background: #FFFFFF;
	z-index: 9999;
}

.sync-loading-bar .sync-caption {
	position: absolute;
	top: -3px;
	left: 0px;
	-webkit-font-smoothing: antialiased;
	font-family: 'Source Sans Pro';
	font-size: 14px;
	line-height: 14px;
	font-style: normal;
	font-weight: 300;
	color: #000000;
}

.sync-loading-bar .sync-progress-bar {
	float: left;
	width: 0%;
	height: 10px;
	background: $linkColor;
}



.data-editor table .form-control {
	padding: 6px 4px;
}

.data-editor .table > tbody > tr > td,
.data-editor .table > thead > tr > th {
	padding: 4px;
}

.data-editor .input-50 {
	width: 50%;
	float: left;
}


.table-tr-cover {
	position: absolute;
    background: #EEEEEE !important;
    outline: none !important;
    opacity: 1 !important;
}

.form-control {
    font-size: 16px;
    line-height: 16px;
    font-family: "Benton Sans Cond";
}

.comment {
    -webkit-font-smoothing: antialiased;
    font-family: 'Source Sans Pro';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    color: #000000;
}


h2 {
	margin-bottom: 10px;
}

p.caption, svg text {
	font-size: 14px;
}

td > .slide {
	height:100%;
}

div.show-more {
	font-size: 14px;
    font-family: "Benton Sans Cond";
    width: 100%;
    float: left;
}

.monitor-title {
	float: left;
	width: 100%;
	text-align: center;
	border-bottom: 3px solid #333;
	margin-bottom: 20px;
}

.monitor-title img {
	width: 150px;
}

.monitor-title h1 {
	margin-top: -12px;
	font-size: 30px;
	line-height: 50px;
	color: #191919;
}


body.mobile .monitor-title img {
	width: 100px;
	display: none;
}

body.mobile .monitor-title h1 {
	font-size: 21px;
	line-height: 28px;
}

.monitor-diagrams > .election-diagram {
	float: left;
	width: auto !important;
	position: relative;
	margin-right: 36px;
}
/*
.election-diagram.proporz-diagram {
	margin-right: 36px;
}
body.mobile .election-diagram {
	margin-right: 0px;
	margin-bottom: 30px;
	margin-top: -20px;
}
body.mobile .election-diagram.proporz-diagram {
	margin-top: -20px;
}
*/

.monitor-diagrams > .election-diagram:last-child {
	margin-right: 0px;
}

.election-diagram h2 {
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #bfbfbf;
}
body.mobile .election-diagram h2 {
	font-size: 21px;
	line-height: 28px;
	margin-top: 25px;
    margin-bottom: -15px;
}

.election-diagram h2 > .action {
	float: right;
	font-size: 16px;
    font-family: "Benton Sans Cond";
}

.election-diagram .area-dropdown {
	position: absolute;
	left: 0px;
	top: 30px;
	width: 100%;
	height: 100%;
	background: #FFFFFF;
	display: none;
}
body.mobile .election-diagram .area-dropdown {
	top: 56px;
}
.election-diagram .area-dropdown > .inside-area-dropdown {
	float: left;
	width: 100%;
}

.election-diagram .area-dropdown .area-col {
	float: left;
}

.election-diagram .area-dropdown .area-col > .area-cell {
	float: left;
	width: 100%;
	font-size: 14px;
    line-height: 14px;
    font-family: "Benton Sans Cond";
    border-bottom: 1px solid #bfbfbf;
    padding: 7px 0px 6px 5px;
    color: $textColor;
    margin-top: -1px;
}
.election-diagram .area-dropdown .area-col > .area-cell:hover {
	background: $linkColor;
	color: $hoverColor;
	border-bottom: 1px solid $linkColor;
}

.election-diagram .area-dropdown .area-col > .area-cell > .area-flag {
	width: 15px;
	height: 15px;
	margin-right: 5px;
	float: left;
	background-size: 15px 15px;
}
.election-diagram .area-dropdown .area-col > .area-cell > .area-flag.icon-ag {
	background-image: url("../imgs/kantonswappen/ag.svg");
}
.election-diagram .area-dropdown .area-col > .area-cell > .area-flag.icon-ai {
	background-image: url("../imgs/kantonswappen/ai.svg");
}
.election-diagram .area-dropdown .area-col > .area-cell > .area-flag.icon-ar {
	background-image: url("../imgs/kantonswappen/ar.svg");
}
.election-diagram .area-dropdown .area-col > .area-cell > .area-flag.icon-be {
	background-image: url("../imgs/kantonswappen/be.svg");
}
.election-diagram .area-dropdown .area-col > .area-cell > .area-flag.icon-bl {
	background-image: url("../imgs/kantonswappen/bl.svg");
}
.election-diagram .area-dropdown .area-col > .area-cell > .area-flag.icon-bs {
	background-image: url("../imgs/kantonswappen/bs.svg");
}
.election-diagram .area-dropdown .area-col > .area-cell > .area-flag.icon-fr {
	background-image: url("../imgs/kantonswappen/fr.svg");
}
.election-diagram .area-dropdown .area-col > .area-cell > .area-flag.icon-ge {
	background-image: url("../imgs/kantonswappen/ge.svg");
}
.election-diagram .area-dropdown .area-col > .area-cell > .area-flag.icon-gl {
	background-image: url("../imgs/kantonswappen/gl.svg");
}
.election-diagram .area-dropdown .area-col > .area-cell > .area-flag.icon-gr {
	background-image: url("../imgs/kantonswappen/gr.svg");
}
.election-diagram .area-dropdown .area-col > .area-cell > .area-flag.icon-ju {
	background-image: url("../imgs/kantonswappen/ju.svg");
}
.election-diagram .area-dropdown .area-col > .area-cell > .area-flag.icon-lu {
	background-image: url("../imgs/kantonswappen/lu.svg");
}
.election-diagram .area-dropdown .area-col > .area-cell > .area-flag.icon-ne {
	background-image: url("../imgs/kantonswappen/ne.svg");
}
.election-diagram .area-dropdown .area-col > .area-cell > .area-flag.icon-nw {
	background-image: url("../imgs/kantonswappen/nw.svg");
}
.election-diagram .area-dropdown .area-col > .area-cell > .area-flag.icon-ow {
	background-image: url("../imgs/kantonswappen/ow.svg");
}
.election-diagram .area-dropdown .area-col > .area-cell > .area-flag.icon-sg {
	background-image: url("../imgs/kantonswappen/sg.svg");
}
.election-diagram .area-dropdown .area-col > .area-cell > .area-flag.icon-sh {
	background-image: url("../imgs/kantonswappen/sh.svg");
}
.election-diagram .area-dropdown .area-col > .area-cell > .area-flag.icon-so {
	background-image: url("../imgs/kantonswappen/so.svg");
}
.election-diagram .area-dropdown .area-col > .area-cell > .area-flag.icon-sz {
	background-image: url("../imgs/kantonswappen/sz.svg");
}
.election-diagram .area-dropdown .area-col > .area-cell > .area-flag.icon-tg {
	background-image: url("../imgs/kantonswappen/tg.svg");
}
.election-diagram .area-dropdown .area-col > .area-cell > .area-flag.icon-ti {
	background-image: url("../imgs/kantonswappen/ti.svg");
}
.election-diagram .area-dropdown .area-col > .area-cell > .area-flag.icon-ur {
	background-image: url("../imgs/kantonswappen/ur.svg");
}
.election-diagram .area-dropdown .area-col > .area-cell > .area-flag.icon-vd {
	background-image: url("../imgs/kantonswappen/vd.svg");
}
.election-diagram .area-dropdown .area-col > .area-cell > .area-flag.icon-vs {
	background-image: url("../imgs/kantonswappen/vs.svg");
}
.election-diagram .area-dropdown .area-col > .area-cell > .area-flag.icon-zg {
	background-image: url("../imgs/kantonswappen/zg.svg");
}
.election-diagram .area-dropdown .area-col > .area-cell > .area-flag.icon-zh {
	background-image: url("../imgs/kantonswappen/zh.svg");
}
.election-diagram .area-dropdown .area-col > .area-cell > .area-flag.icon-ch {
	background-image: url("../imgs/kantonswappen/ch.svg");
}

.diagram-content {
	float: left;
	position: relative;
	overflow: hidden;
}
.one-col-layout .diagram-content {
	overflow: visible;
}

.election-diagram .diagram {
	float: left;
	position: relative;
}

.election-diagram .choropleth {
	position: absolute;
	top: 0px;
	display: none;
	z-index: 1;
}
.election-diagram .choropleth.align-left {
	background: url("../imgs/choropleth-overlay-left.png") no-repeat left -7px transparent;
	padding-left: 45px;
	margin-left: -9px;
	left: 200%;
}

.election-diagram .choropleth.align-right {
	background: url("../imgs/choropleth-overlay-right.png") no-repeat right -7px transparent;
	padding-right: 45px;
	margin-right: -9px;
	right: 200%;
}

.election-diagram svg.hover {
	position: absolute;
	top: 50%;
	display: none;
	z-index: 2;
	cursor: pointer;
}
.election-diagram svg.hover.align-left {
	left: 0px;
}
.election-diagram svg.hover.align-right {
	right: 0px;
}

.election-diagram .diagram.party-bars {
	margin-right: 36px;
}
.election-diagram.difference-layout .diagram.party-bars:last-child,
.election-diagram.one-col-layout .diagram.party-bars {
	margin-right: 0px;
}

.election-diagram .diagram .close-link {
	position: absolute;
	top: 0px;
	right: 0px;
	display: none;
}

.election-diagram .diagram.partial-result {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}

.election-diagram .diagram.overlay-back {
	background: url("../imgs/partial-overlay.png") no-repeat right -7px transparent;
	padding-right: 45px;
	margin-right: -9px; /* -45px + 36px (colPadding) = -9px */
}

.election-diagram .diagram.overlay-back .close-link {
	right: 45px;
	display: block;
}

svg text.party-acronym,
svg text.candidate-name {
	font-family: "Benton Sans Cond Black";
}
svg text.value-label.majority,
svg text.candidate-name.majority {
	font-family: "Benton Sans Cond";
	font-size: 12px;
}

svg.hover text {
    fill: #FFFFFF;
}


.election-diagram .dropdown .btn {
	margin: 0px;
	/*padding: 8px 10px;*/
}
.election-diagram .dropdown.only-one-result .btn {
	background: none !important;
	cursor: text;
	opacity: 1;
}
.election-diagram .dropdown .btn .text {
	border-bottom: 0px;
	margin: 0px;
	font-family: "Benton Sans Cond Black";
	color: $linkColor;
}
.election-diagram .dropdown.only-one-result .btn .text {
	color: $textColor;
	padding-right: 0px;
}
.election-diagram .dropdown.only-one-result .btn .text:after {
	content: '';
}
.election-diagram .dropdown .btn .caret {
	color: $linkColor;
}
.election-diagram .dropdown.only-one-result .btn .caret {
	display: none;
}

svg g.show-diff, svg g.show-percent {
	cursor: pointer;
}

tbody.disabled {
	background: #eeeeee;
}

#test-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: url("../imgs/gray80.png") repeat 0px 0px transparent;
    z-index: 9999;
}
#test-overlay .inside-test-overlay {
	text-align: center;
	font-family: "Benton Sans Cond Black";
	font-size: 32px;
	line-height: 32px;
	color: #FFFFFF;

	position: absolute;
	top: 50%;
	left: 50%;

	width: 400px;
	height: 400px;

	margin-left: -200px;
	margin-top: -32px;
}

