/**********************
 *                    *
 *       FONTS        *
 *                    *
 **********************/

/*
This font software is the property of Commercial Type.

You may not modify the font software, use it on another website, or install it on a computer.

License information is available at http://commercialtype.com/eula
For more information please visit Commercial Type at http://commercialtype.com or email us at info[at]commercialtype.com

Copyright (C) 2013 Schwartzco Inc.
License: 1312-PEGFLC     
*/
@font-face {
  font-family: "Publico Headline";
  src: url("../data/fonts/PublicoHeadline-Medium-Web.eot");
  src: url("../data/fonts/PublicoHeadline-Medium-Web.eot?#iefix") format("embedded-opentype"),
       url("../data/fonts/PublicoHeadline-Medium-Web.woff") format("woff"),
       url("../data/fonts/PublicoHeadline-Medium-Web.ttf") format("truetype"),
       url("../data/fonts/PublicoHeadline-Medium-Web.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*
This CSS resource incorporates links to font software which is 
the valuable copyrighted property of WebType LLC, The Font Bureau, 
and/or their suppliers. You may not 
attempt to copy, install, redistribute, convert, modify or reverse 
engineer this font software. Please contact WebType with any 
questions: http://www.webtype.com 
*/
@font-face {
  font-family: "Benton Sans Cond Black";
  src: url("../data/fonts/3d37dcaf-9dfb-45f0-bd8f-a635fea92d0b-2.eot");
  src: url("../data/fonts/3d37dcaf-9dfb-45f0-bd8f-a635fea92d0b-2.eot?") format("embedded-opentype"),
       url("../data/fonts/3d37dcaf-9dfb-45f0-bd8f-a635fea92d0b-3.woff") format("woff"),
       url("../data/fonts/3d37dcaf-9dfb-45f0-bd8f-a635fea92d0b-1.ttf") format("truetype"),
       url("../data/fonts/3d37dcaf-9dfb-45f0-bd8f-a635fea92d0b-4.svg#web") format("svg");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Benton Sans Cond Light";
  src: url("../data/fonts/2e86b3e0-b624-4270-befe-3f44606d827a-2.eot");
  src: url("../data/fonts/2e86b3e0-b624-4270-befe-3f44606d827a-2.eot?") format("embedded-opentype"),
       url("../data/fonts/2e86b3e0-b624-4270-befe-3f44606d827a-3.woff") format("woff"),
       url("../data/fonts/2e86b3e0-b624-4270-befe-3f44606d827a-1.ttf") format("truetype"),
       url("../data/fonts/2e86b3e0-b624-4270-befe-3f44606d827a-4.svg#web") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Benton Sans Cond";
  src: url("../data/fonts/7bb9e5d1-f5d9-4a09-8b5d-770aa2f4228e-2.eot");
  src: url("../data/fonts/7bb9e5d1-f5d9-4a09-8b5d-770aa2f4228e-2.eot?") format("embedded-opentype"),
       url("../data/fonts/7bb9e5d1-f5d9-4a09-8b5d-770aa2f4228e-3.woff") format("woff"),
       url("../data/fonts/7bb9e5d1-f5d9-4a09-8b5d-770aa2f4228e-1.ttf") format("truetype"),
       url("../data/fonts/7bb9e5d1-f5d9-4a09-8b5d-770aa2f4228e-4.svg#web") format("svg");
  font-style: normal;
  font-weight: normal;
}

/* FONTAWESOME */

@font-face {
  font-family: "fontawesome";
  src: url("../data/fonts/fontawesome-webfont.eot?v=4.0.3");
  src: url("../data/fonts/fontawesome-webfont.eot?#iefix&v=4.0.3") format("embedded-opentype"),
       url("../data/fonts/fontawesome-webfont.woff?v=4.0.3") format("woff"),
       url("../data/fonts/fontawesome-webfont.ttf?v=4.0.3") format("truetype"),
       url("../data/fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* BOOTSTRAP GLYPHICONS */

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../data/fonts/glyphicons-halflings-regular.eot');
  src: url('../data/fonts/glyphicons-halflings-regular.eot#iefix') format('embedded-opentype'),
       url('../data/fonts/glyphicons-halflings-regular.woff2') format('woff2'),
       url('../data/fonts/glyphicons-halflings-regular.woff') format('woff'),
       url('../data/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
       url('../data/fonts/glyphicons-halflings-regular.svg') format('svg');
}

/* TAMEDIA ICONS */
@font-face {
  font-family: 'Tamedia Icons';
  src: url('../data/fonts/tamedia-icons.woff') format('woff');
}
