body {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;

    font-family: Georgia;
    font-size: 16px;
    line-height: 24px;
    text-rendering: geometricprecision;

    color: $textColor;
}

p {
    margin: 0 0 24px 0;
}

p.lead {
    font-size: 22px;
    line-height: 25px;
}

h1 {
    font-family: "Publico Headline";
    margin: 0 0 4px 0;
    color: #191919;
    font-size: 48px;
    line-height: 50px;
}
/*
body.mobile h1 {
    font-family: "Publico Headline",Georgia,serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 26px;
    margin: 12px 0;
}
*/

h2 {
    font-family: "Publico Headline";
    margin: 0 0 5px 0;
    font-size: 23px;
    line-height: 24px;
    color: $textColor;
}
.overlay h2, .ta-tooltip h2 {
    font-family: "Benton Sans Cond Black";
    font-size: 22px;
    line-height: 25px;
    color: $hoverColor;
}
.overlay.white h2, .ta-tooltip h2 {
    color: $textColor;
}

h3 {
    font-family: "Benton Sans Cond Black";
    font-size: 22px;
    line-height: 25px;
    color: $strongColor;
    margin: 0 0 5px 0;
}
.overlay h3, .ta-tooltip h3 {
    font-family: "Benton Sans Cond";
    font-size: 22px;
    line-height: 25px;
    color: $hoverColor;
}
.ta-tooltip h3 {
    color: $textColor;
}
.overlay h3 small, .ta-tooltip h3 small {
    font-size: 16px;
    color: $hoverColor;
}

strong {
    font-family: "Benton Sans Cond Black";
    color: $strongColor;
}

.light {
    font-family: "Benton Sans Cond";
    font-size: 16px;
}


a, .action {
    color: $linkColor;
    text-decoration: none;
}
.action {
    cursor: pointer;
}
a:hover, .action:hover {
    color: $strongColor;
    text-decoration: none;
}
a:focus, .action:focus {
    color: $linkColor;
    text-decoration: none;
}

.overlay a {
    color: $hoverColor;
}


td {
    padding: 20px 0px;
}


.overlay, p.caption, .ta-tooltip p {
    font-family: "Benton Sans Cond";
    font-size: 16px;
    line-height: 22px;
}

/* BOOTSTRAP override */

/* button */
.btn, .btn:focus {
    font-family: 'Benton Sans Cond', sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: normal;
    color: #FFFFFF;
    background-color: $linkColor;
    border: 0px none !important;
    padding: 8px 10px;
}
.btn:hover {
    background-color: #222222;
    color: #FFFFFF;
}

.btn > .text {
    margin-left: 5px;
}

.btn.disabled {
    color: #eeeeee;
}

/* button group */
.selection {
    float: left;
    clear: both;
    margin-bottom: 10px;
}


.btn-group {
    padding-left: 0px;
    margin: 0px;
    float: left;
}
.btn-group.on-off-group {
    border: 1px solid #AAAAAA;
}
.label-default, .nav-tabs > li > a {
    font-family: 'Benton Sans Cond', sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: normal;
    color: $textColor;
}

.btn-group .btn, .label-default {
    background: transparent;
    padding: 8px;  
    float: left;
    border-radius: 0;
}


.btn-group > .btn {
    color: $textColor;
    border-left: 1px solid #222222 !important;
    margin: 0px !important;
}

.btn:focus {
    outline: 0 !important;
}

.btn-group > .btn:hover {
    background-color: #eeeeee;
}

.btn-group > .btn.active {
    background-color: $linkColor;
    color: #FFFFFF;
    border-left: 1px solid $linkColor !important;
    border-right: 1px solid $linkColor !important;
    margin-right: -1px !important;
}
.btn-group.on-off-group > .btn.active {
    margin-right: 0px !important;
}
.btn-group > .btn:first-child {
    border-left: 0px none !important;
}

.btn-group.on-off-group > .btn {
    border: 2px #FFFFFF solid !important;
    padding: 5px;
}

.selection .label {
    padding: 8px 0px 3px 0px;
    /*border-bottom: 2px solid #222222 !important;*/
    margin: 0px 5px 5px 5px;
}

.selection .label:first-child {
    margin-left: 0px;
}

/* tabs */
.nav-tabs {
    width: 100%;
    float: left;
    margin-bottom: 10px;
    border-bottom: 1px solid #777;
}

.nav-tabs > li > a{
    float: left;
}

.nav-tabs > li > a:hover {
    border-bottom: 1px solid #777;
}

.nav-tabs > li.active > a {
    font-family: "Benton Sans Cond Black";
    color: $linkColor !important;
    border: 1px solid #777 !important;
    border-bottom-color: transparent !important;
}

.nav-tabs a .text {
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
    float: left;
}
.nav-tabs a img {
    float: left;
    clear: both;
}

/* dropdown */
.dropdown {
    float: left;
    margin-bottom: 10px;
}

.dropdown .label {
    padding: 8px 0px;
}

.dropdown-menu {
    border-radius: 0px;
    padding: 0px;
}

.dropdown-menu>li>.action {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.dropdown-menu>li>.action:focus, .dropdown-menu>li>.action:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}

.dropdown-menu > li > a,
.dropdown-menu > li > .action {
    font-family: "Benton Sans Cond";
    font-size: 16px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.dropdown .btn {
    background: transparent;
    color: $textColor;

    padding: 8px 6px 8px 0px;
    margin: 0px 5px 5px 0px;

    border-radius: 0;
    border: 0px none !important;

    max-width: 200px;
    overflow: hidden;
}
.dropdown .btn:hover {
    background: #EEEEEE;
}

.dropdown .btn .text {
    border-bottom: 2px solid #222222;
}

.dropdown-menu > li > a.selected,
.dropdown-menu > li > .action.selected {
  background: $linkColor;
  color: #FFFFFF;
  border-bottom: 0px none;
  margin-top: -1px;
}

/* tables */
.table>thead>tr>th {
    border-bottom: 2px solid #222222;
    font-family: "Benton Sans Cond Black";
}

.table > tbody > tr > td {
    border-bottom: 1px solid #ddd;
    font-family: "Benton Sans Cond";
    vertical-align: middle;
}

.table > thead > tr > td {
    font-family: "Benton Sans Cond Black";
}

.table-hover > tbody > tr:hover {
    background-color: #ddd;
}

.table-hover > thead > tr:hover {
    background-color: #007abf;
    color: white;
}


/* INPUT GROUP */
.input-group-btn > .btn {
    border: 1px solid $linkColor !important;
}
.input-group-btn > .btn.disabled {
    border: 1px solid #eeeeee !important;
}



/* SVG for d3js Stuff */
svg text {
    font-family: "Benton Sans Cond";
    font-weight: normal;
    fill: $textColor;
    font-size: 14px;
    line-height: 14px;
}

svg text.bold {
    font-family: "Benton Sans Cond Black";
    font-size: 16px;
}

svg text.title {
    font-family: "Benton Sans Cond Black";
    font-size: 16px;
}

svg text.link {
    fill: $linkColor;
    cursor: pointer;
}

svg text.small {
    font-size: 12px;
}

svg text.smaller {
    font-size: 10px;
}

