<div class="svg-container">
	<svg class="graphic"></svg>
	<svg class="hover align-<%= align %>"></svg>
</div>

<% if (!monitor.get('noareaselection')){ %>
	<p class="caption close-link">
		<span class="action">
			<%= __('schliessen', { language: monitor.get('language') }) %>
			<span class="glyphicon glyphicon-remove"></span>
		</span>
	</p>
<% } %>
<div class="caption show-more">
	<% if (monitor.get('showmore')) { %>
		<div class="action" style="float: left;"><%= moreLinkCaption %></div>
	<% } %>
	<!--<div class="comment last-update" style="float: right; text-align: right; width: 120px; line-height: 16px; margin-top: 4px;"></div>-->
</div>