<table class="table">

	<thead>
		<tr>
			<th colspan="2">Bisherige Versionen</th>
		</tr>
	</thead>

	<tbody>
		<% for (var i = 0; i < electionDate.length; i++){ %>

			<tr>
				<td>
					<%= __(electionDate.at(i).get('created'), { formatAsFuzzyDate: true }) %><br>
					<span class="comment"><%= __(electionDate.at(i).get('created'), { formatAsReadableDate: true }) %></span>
				</td>
				<td>
					<a href="editelection/<%= election.get('id') %>/version/<%= electionDate.at(i).get('id') %>" class="btn btn-default">
						<span class="glyphicon glyphicon-upload"></span>
					</a>
				</td>
			</tr>

		<% } %>

	</tbody>

</table>


<table class="table">

	<thead>
		<tr>
			<th>Daten importieren</th>
		</tr>
	</thead>

	<tbody>
		<tr>

			<td>
				<a href="editelection/<%= election.get('id') %>/import/opendata" class="btn btn-default">
					<span class="glyphicon glyphicon-import"></span>
					<span class="text">.csv Import</span>
				</a>
			</td>
		</tr>

		<tr>
			<td>
				<a href="editelection/<%= election.get('id') %>/import/zhjson" class="btn btn-default">
					<span class="glyphicon glyphicon-import"></span>
					<span class="text">ZH JSON Import</span>
				</a>
			</td>
		</tr>

		<tr>
			<td>
				<a href="editelection/<%= election.get('id') %>/import/bfs" class="btn btn-default">
					<span class="glyphicon glyphicon-import"></span>
					<span class="text">BFS Import</span>
				</a>
			</td>
		</tr>


	</tbody>

</table>