

<% if (monitorCol.get('votesystem') == 'proporz'){ %>

	<table class="table">
		<thead>
			<tr>
				<td>
					<div class="btn btn-default action toggle-extend disabled" style="float: right;"  data-attribute="extendProporz">
						<span class="glyphicon glyphicon-<%= monitorCol.get('extendProporz') ? 'check' : 'unchecked' %>"></span>
						<span class="text">Grundlage verwenden</span>
					</div>

					<div class="dropdown" data-attribute="votesystem">
						<div class="label label-default">Wahlen nach</div>
						<button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					    	<span class="text" style="font-family: 'Benton Sans Cond Black'; font-size: 18px;">Proporz</span>
					    	<span class="caret"></span>
					  	</button>
					  	<ul class="dropdown-menu">
						    <li><a class="action" data-value="proporz">Proporz</a></li>
						    <li><a class="action" data-value="majorz">Majorz</a></li>
					  	</ul>
					</div>
				</td>
			</tr>

			<tr>
				<td>
					
					<div class="dropdown" data-attribute="proporzPreselection" style="margin-bottom: 0px;">
						<div class="label label-default">Vorauswahl Region:</div>
						<button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					    	<span class="text">
					    		<% if (monitorCol.get('proporzPreselection') == '') { %>
					    			keine
					    		<% }else{ %>
					    			<%= monitorCol.get('proporzPreselection') %>
					    		<% } %>
					    	<span class="caret"></span>
					  	</button>
					  	<ul class="dropdown-menu">
						    <li><a class="action" data-value="">keine</a></li>
						    <% for (var i = 0; i < proporzAreas.length; i++){ %>
						    	<li><a class="action" data-value="<%= proporzAreas[i] %>"><%= proporzAreas[i] %></a></li>
						    <% } %>
					  	</ul>
					</div>

				</td>
			</tr>

			<tr><th></td></td>

		</thead>

		<tbody>
			<tr>
				<td>
					<div class="input-group">
						<span class="input-group-addon">Titel:</span>
				     	<input type="text" class="form-control input-title" placeholder="" name="proporzTitle" value="<%= monitorCol.get('proporzTitle') %>">
				    </div>
				</td>
			</tr>
		</tbody>

		<tbody<%= monitorCol.get('extendProporz') ? ' class="disabled"' : '' %>>
			<tr>
				<td>

					<div class="dropdown" data-attribute="proporzElectionId" style="margin-bottom: 0px;">
						<div class="label label-default">Wahlresultat von:</div>
						<button class="btn btn-default dropdown-toggle<%= monitorCol.get('extendProporz') ? ' disabled' : '' %>" data-toggle="dropdown">
					    	<span class="text">
					    		<% if (monitorCol.get('proporzElectionId') == 0) { %>
					    			wählen
					    		<% }else{ %>
					    			<%= elections.get(monitorCol.get('proporzElectionId')).get('council') %>, 
					    			<%= elections.get(monitorCol.get('proporzElectionId')).get('year') %>, 
					    			<%= elections.get(monitorCol.get('proporzElectionId')).get('resultdesc_'+monitor.get('language')) %>
					    		<% } %>
					    	<span class="caret"></span>
					  	</button>
					  	<ul class="dropdown-menu">
					  		<li><a class="action" data-value="0">keines</a></li>
						    <% for (var i = 0; i < elections.length; i++){ %>
						    	<% if (elections.at(i).get('votesystem') == 'proporz'){ %>
							    	<li><a class="action" data-value="<%= elections.at(i).get('id') %>">
							    		<%= elections.at(i).get('council') %>,
							    		<%= elections.at(i).get('year') %>,
							    		<%= elections.at(i).get('resultdesc_'+monitor.get('language')) %>
							    	</a></li>
							    <% } %>
						    <% } %>
					  	</ul>
					</div>



					<div class="dropdown" data-attribute="proporzElectionDataId">
						<div class="label label-default">Version:</div>
						<button class="btn btn-default dropdown-toggle<%= monitorCol.get('extendProporz') ? ' disabled' : '' %>" data-toggle="dropdown">
					    	<span class="text">
					    		<% if (monitorCol.get('proporzElectionDataId') == 0) { %>
					    			neuste
					    		<% }else{ %>
					    			<%= __(proporzDate.get(monitorCol.get('proporzElectionDataId')).get('created'), { formatAsFuzzyDate: true }) %>
									<span class="comment"><%= __(proporzDate.get(monitorCol.get('proporzElectionDataId')).get('created'), { formatAsReadableDate: true }) %></span>
					    		<% } %>
					    	<span class="caret"></span>
					  	</button>
					  	<ul class="dropdown-menu">
					  		<li><a class="action" data-value="0">neuste	</a></li>
						    <% for (var i = 0; i < proporzDate.length; i++){ %>
						    	<li><a class="action" data-value="<%= proporzDate.at(i).get('id') %>">
						    		<%= __(proporzDate.at(i).get('created'), { formatAsFuzzyDate: true }) %>
									<span class="comment"><%= __(proporzDate.at(i).get('created'), { formatAsReadableDate: true }) %></span>
						    	</a></li>
						    <% } %>
					  	</ul>
					</div>




				</td>
			</tr>


			<% if (monitorCol.get('proporzPartialResultId') == 0) { %>
				<tr>
					<td>
						<div class="dropdown" data-attribute="proporzDifferenceToElectionId" style="margin-bottom: 0px;">
							<div class="label label-default">Vergleichen mit Resultat aus:</div>
							<button class="btn btn-default dropdown-toggle<%= monitorCol.get('extendProporz') ? ' disabled' : '' %>" data-toggle="dropdown">
						    	<span class="text">
						    		<% if (monitorCol.get('proporzDifferenceToElectionId') == 0) { %>
						    			wählen
						    		<% }else{ %>
						    			<%= elections.get(monitorCol.get('proporzDifferenceToElectionId')).get('council') %>, 
						    			<%= elections.get(monitorCol.get('proporzDifferenceToElectionId')).get('year') %>, 
						    			<%= elections.get(monitorCol.get('proporzDifferenceToElectionId')).get('resultdesc_'+monitor.get('language')) %>
						    		<% } %>
						    	</span>
						    	<span class="caret"></span>
						  	</button>
						  	<ul class="dropdown-menu">
						  		<li><a class="action" data-value="0">nicht vergleichen</a></li>
							    <% for (var i = 0; i < elections.length; i++){ %>
							    	<% if (elections.at(i).get('votesystem') == 'proporz'){ %>
								    	<li><a class="action" data-value="<%= elections.at(i).get('id') %>">
								    		<%= elections.at(i).get('council') %>, <%= elections.at(i).get('year') %>, <%= elections.at(i).get('resultdesc_'+monitor.get('language')) %>
								    	</a></li>
								    <% } %>
							    <% } %>
						  	</ul>
						</div>

						<% if (monitorCol.get('proporzDifferenceToElectionId') > 0) { %>
							<div class="dropdown" data-attribute="proporzDifferenceToElectionDataId">
								<div class="label label-default">Version:</div>
								<button class="btn btn-default dropdown-toggle<%= monitorCol.get('extendProporz') ? ' disabled' : '' %>" data-toggle="dropdown">
							    	<span class="text">
							    		<% if (monitorCol.get('proporzDifferenceToElectionDataId') == 0) { %>
							    			neuste
							    		<% }else{ %>
							    			<%= __(proporzDifferenceDate.get(monitorCol.get('proporzDifferenceToElectionDataId')).get('created'), { formatAsFuzzyDate: true }) %>
											<span class="comment"><%= __(proporzDifferenceDate.get(monitorCol.get('proporzDifferenceToElectionDataId')).get('created'), { formatAsReadableDate: true }) %></span>
							    		<% } %>
							    	<span class="caret"></span>
							  	</button>
							  	<ul class="dropdown-menu">
							  		<li><a class="action" data-value="0">neuste	</a></li>
								    <% for (var i = 0; i < proporzDifferenceDate.length; i++){ %>
								    	<li><a class="action" data-value="<%= proporzDifferenceDate.at(i).get('id') %>">
								    		<%= __(proporzDifferenceDate.at(i).get('created'), { formatAsFuzzyDate: true }) %>
											<span class="comment"><%= __(proporzDifferenceDate.at(i).get('created'), { formatAsReadableDate: true }) %></span>
								    	</a></li>
								    <% } %>
							  	</ul>
							</div>
						<% } %>
					</td>
				</tr>
			<% } %>

			<% if (monitorCol.get('proporzDifferenceToElectionId') == 0) { %>
				<tr>
					<td>
						<div class="dropdown" data-attribute="proporzPartialResultId" style="margin-bottom: 0px;">
							<div class="label label-default">Mit Resultaten ergänzen:</div>
							<button class="btn btn-default dropdown-toggle<%= monitorCol.get('extendProporz') ? ' disabled' : '' %>" data-toggle="dropdown">
						    	<span class="text">
						    		<% if (monitorCol.get('proporzPartialResultId') == 0) { %>
						    			wählen
						    		<% }else{ %>
						    			<%= elections.get(monitorCol.get('proporzPartialResultId')).get('council') %>, 
						    			<%= elections.get(monitorCol.get('proporzPartialResultId')).get('year') %>, 
						    			<%= elections.get(monitorCol.get('proporzPartialResultId')).get('resultdesc_'+monitor.get('language')) %>
						    		<% } %>
						    	</span>
						    	<span class="caret"></span>
						  	</button>
						  	<ul class="dropdown-menu">
						  		<li><a class="action" data-value="0">kein Teilresultat</a></li>
							    <% for (var i = 0; i < elections.length; i++){ %>
							    	<% if (elections.at(i).get('votesystem') == 'proporz'){ %>
								    	<li><a class="action" data-value="<%= elections.at(i).get('id') %>">
								    		<%= elections.at(i).get('council') %>, <%= elections.at(i).get('year') %>, <%= elections.at(i).get('resultdesc_'+monitor.get('language')) %>
								    	</a></li>
								    <% } %>
							    <% } %>
						  	</ul>
						</div>

						<% if (monitorCol.get('proporzPartialResultId') > 0) { %>
							<div class="dropdown" data-attribute="proporzPartialResultDataId">
								<div class="label label-default">Version:</div>
								<button class="btn btn-default dropdown-toggle<%= monitorCol.get('extendProporz') ? ' disabled' : '' %>" data-toggle="dropdown">
							    	<span class="text">
							    		<% if (monitorCol.get('proporzPartialResultDataId') == 0) { %>
							    			neuste
							    		<% }else{ %>
							    			<%= __(proporzPartialResultData.get(monitorCol.get('proporzPartialResultDataId')).get('created'), { formatAsFuzzyDate: true }) %>
											<span class="comment"><%= __(proporzPartialResultData.get(monitorCol.get('proporzPartialResultDataId')).get('created'), { formatAsReadableDate: true }) %></span>
							    		<% } %>
							    	<span class="caret"></span>
							  	</button>
							  	<ul class="dropdown-menu">
							  		<li><a class="action" data-value="0">neuste	</a></li>
								    <% for (var i = 0; i < proporzPartialResultData.length; i++){ %>
								    	<li><a class="action" data-value="<%= proporzPartialResultData.at(i).get('id') %>">
								    		<%= __(proporzPartialResultData.at(i).get('created'), { formatAsFuzzyDate: true }) %>
											<span class="comment"><%= __(proporzPartialResultData.at(i).get('created'), { formatAsReadableDate: true }) %></span>
								    	</a></li>
								    <% } %>
							  	</ul>
							</div>
						<% } %>
					</td>
				</tr>
			<% } %>


		</tbody>
	</table>

<% }else if(monitorCol.get('votesystem') == 'majorz') { %>

	<table class="table">
		<thead>
			<tr>
				<td>
					<div class="btn btn-default action toggle-images" style="float: right;" data-attribute="showImages">
						<span class="glyphicon glyphicon-<%= monitorCol.get('showImages') ? 'check' : 'unchecked' %>"></span>
						<span class="text">Bilder anzeigen</span>
					</div>
					
					<div class="btn btn-default action toggle-extend disabled" style="float: right;" data-attribute="extendMajorz">
						<span class="glyphicon glyphicon-<%= monitorCol.get('extendMajorz') ? 'check' : 'unchecked' %>"></span>
						<span class="text">Grundlage verwenden</span>
					</div>

					<div class="dropdown" data-attribute="votesystem">
						<div class="label label-default">Wahlen nach</div>
						<button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					    	<span class="text" style="font-family: 'Benton Sans Cond Black'; font-size: 18px;">Majorz</span>
					    	<span class="caret"></span>
					  	</button>
					  	<ul class="dropdown-menu">
						    <li><a class="action" data-value="proporz">Proporz</a></li>
						    <li><a class="action" data-value="majorz">Majorz</a></li>
					  	</ul>
					</div>
				</td>
			</tr>

			<% if (majorzAreas.length > 0) { %>
				<tr>
					<td>
						
						<div class="dropdown" data-attribute="majorzShowOnStartArea" style="margin-bottom: 0px;">
							<div class="label label-default">Vorauswahl Region:</div>
							<button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						    	<span class="text">
						    		<%= majorzAreas[monitorCol.get('majorzShowOnStartArea')].name %>
						    	<span class="caret"></span>
						  	</button>
						  	<ul class="dropdown-menu">
							    <% for (var i = 0; i < majorzAreas.length; i++){ %>
							    	<li><a class="action" data-value="<%= i %>"><%= majorzAreas[i].name %></a></li>
							    <% } %>
						  	</ul>
						</div>

					</td>
				</tr>
			<% } %>

			<% if (majorzResults.length > 0) { %>
				<tr>
					<td>
						
						<div class="dropdown" data-attribute="majorzShowOnStartResult" style="margin-bottom: 0px;">
							<div class="label label-default">Vorauswahl Resultat:</div>
							<button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						    	<span class="text">

						    		<% if (monitorCol.get('majorzShowOnStartResult') < majorzResults.length){ %>
						    			<%= majorzResults[monitorCol.get('majorzShowOnStartResult')]['resultdesc_'+monitor.get('language')] %>
						    		<% } %>

						    	<span class="caret"></span>
						  	</button>
						  	<ul class="dropdown-menu">
							    <% for (var i = 0; i < majorzResults.length; i++){ %>
							    	<li><a class="action" data-value="<%= i %>">
							    		<%= majorzResults[i]['resultdesc_'+monitor.get('language')] %>
							    	</a></li>
							    <% } %>
						  	</ul>
						</div>

					</td>
				</tr>
			<% } %>

			<tr><th></td></td>

		</thead>

		<tbody>
			<tr>
				<td>
					<div class="input-group">
						<span class="input-group-addon">Titel:</span>
				     	<input type="text" class="form-control input-title" placeholder="" name="majorzTitle" value="<%= monitorCol.get('majorzTitle') %>">
				    </div>
				</td>
			</tr>
		</tbody>

		<tbody<%= monitorCol.get('extendMajorz') ? ' class="disabled"' : '' %>>
			<tr>
				<td>
					<div id="majorz-areas"></div>
					<div class="btn btn-default action add-area<%= monitorCol.get('extendMajorz') ? ' disabled' : '' %>">
						<span class="glyphicon glyphicon-plus"></span>
						<span class="text">Region</span>
					</div>
				</td>
			</tr>
		</tbody>
	</table>

<% } %>