<div class="col col-100" style="border-bottom: 1px solid #ddd; margin-bottom: 10px; padding-bottom: 10px;">

	<div class="input-group input-area-name" style="margin-bottom: 10px;">
		<span class="input-group-addon">Region:</span>
     	<input type="text" class="form-control" placeholder="Name" name="name" value="<%= areaName %>"<%= monitorCol.get('extendMajorz') ? ' disabled="true"' : '' %>>
     	<span class="input-group-btn">
       		<button class="btn btn-default remove-area<%= monitorCol.get('extendMajorz') ? ' disabled' : '' %>" type="button">
       			<span class="glyphicon glyphicon-minus"></span>
       			<span class="text">entfernen</span>
       		</button>
     	</span>
    </div>

    <% for (var i = 0; i < results.length; i++){ %>

    	<div class="col col-100" style="margin-bottom: 0px;">
	    	<div class="col col-100" style="margin-bottom: 0px;">

				<div class="btn btn-default action remove-result<%= monitorCol.get('extendMajorz') ? ' disabled' : '' %>" style="float: right;" data-index="<%= i %>">
					<span class="glyphicon glyphicon-minus"></span>
				</div>

			    <div class="dropdown majorz-dropdown" style="margin-bottom: 0px;" data-index="<%= i %>" data-attribute="electionId" data-desc="resultdesc_">
					<div class="label label-default">Wahlresultat von:</div>
					<button class="btn btn-default dropdown-toggle<%= monitorCol.get('extendMajorz') ? ' disabled' : '' %>" data-toggle="dropdown">
				    	<span class="text">
				    		<% if (results[i].electionId == 0 || elections.get(results[i].electionId) == undef) { %>
				    			wählen
				    		<% }else{ %>
				    			<%= elections.get(results[i].electionId).get('council') %>, 
				    			<%= elections.get(results[i].electionId).get('year') %>, 
				    			<%= elections.get(results[i].electionId).get('resultdesc_'+monitor.get('language')) %>
				    		<% } %>
				    	</span>
				    	<span class="caret"></span>
				  	</button>
				  	<ul class="dropdown-menu">
					    <% for (var e = 0; e < elections.length; e++){ %>
					    	<% if (elections.at(e).get('votesystem') == 'majorz'){ %>
						    	<li><a class="action" data-value="<%= elections.at(e).get('id') %>" data-descvalue="<%= elections.at(e).get('resultdesc_'+monitor.get('language')) %>">
						    		<%= elections.at(e).get('council') %>, <%= elections.at(e).get('year') %>, <%= elections.at(e).get('resultdesc_'+monitor.get('language')) %>
						    	</a></li>
						    <% } %>
					    <% } %>
				  	</ul>
				</div>

			</div>
			<div class="col col-100" style="margin-bottom: 20px;">

				<div class="dropdown majorz-dropdown" style="margin-bottom: 0px;" data-index="<%= i %>" data-attribute="electionDataId">
					<div class="label label-default">Version:</div>
					<button class="btn btn-default dropdown-toggle<%= monitorCol.get('extendMajorz') ? ' disabled' : '' %>" data-toggle="dropdown">
				    	<span class="text">
				    		<% if (results[i].electionDataId == 0) { %>
				    			neuste
				    		<% }else{ %>
				    			<%= __(results[i].electionDate.get(results[i].electionDataId).get('created'), { formatAsFuzzyDate: true }) %>
								<span class="comment"><%= __(results[i].electionDate.get(results[i].electionDataId).get('created'), { formatAsReadableDate: true }) %>
				    		<% } %>
				    	</span>
				    	<span class="caret"></span>
				  	</button>
				  	<ul class="dropdown-menu">
				  		<li><a class="action" data-value="0">neuste	</a></li>
				  		<% if (results[i].electionDate != undef) { %>
						    <% for (var e = 0; e < results[i].electionDate.length; e++){ %>
						    	<li><a class="action" data-value="<%= results[i].electionDate.at(e).get('id') %>">
						    		<%= __(results[i].electionDate.at(e).get('created'), { formatAsFuzzyDate: true }) %>
									<span class="comment"><%= __(results[i].electionDate.at(e).get('created'), { formatAsReadableDate: true }) %></span>
						    	</a></li>
						    <% } %>
						<% } %>
				  	</ul>
				</div>
			</div>

		</div>

    <% } %>

	<div class="btn btn-default action add-result<%= monitorCol.get('extendMajorz') ? ' disabled' : '' %>" style="float: right;">
		<span class="glyphicon glyphicon-plus"></span>
	</div>

</div>
