
<ul class="nav nav-tabs">
	<li role="presentation"<%= selection == 'data' ? ' class="active"' : '' %>><a href="/overviewdata">Daten verwalten</a></li>
	<li role="presentation"<%= selection == 'monitors' ? ' class="active"' : '' %>><a href="/overviewmonitors">Monitore verwalten</a></li>

	<% if (id != undefined){ %>
		<li<%= selection == 'mapbase' ? ' class="active"' : '' %>><a href="/mapbase/<%= id %>">Kartengrundlage wählen</a></li>
		<li<%= selection == 'extend' ? ' class="active"' : '' %>><a href="/extend/<%= id %>">Karte erweitern</a></li>
		<li<%= selection == 'content' ? ' class="active"' : '' %>><a href="/content/<%= id %>">Inhalte hinzufügen</a></li>
		<li<%= selection == 'publish' ? ' class="active"' : '' %>><a href="/publish/<%= id %>">Publizieren</a></li>
	<% }; %>
</ul>


