<a class="btn btn-default action" href="show/<%= monitor.get('id') %>" style="float: right; margin-bottom: 10px;" target="_blank">
	<span class="glyphicon glyphicon-eye-open"></span>
	<span class="text">Vorschau</span>
</a>

<div class="btn btn-default action sync-over-ftp" style="float: right; margin-bottom: 10px; margin-right: 10px;">
	<span class="glyphicon glyphicon-refresh"></span>
	<span class="text">auf Fileserver kopieren</span>
</div>

<div class="comment" style="float: right; margin-bottom: 10px; margin-right: 10px;"><%= __(monitor.get('synced'), { formatAsFuzzyDate: true }) %> zuletzt</div>
	

<h3>Monitor anpassen</h3>


<div class="col col-100 form-header" style="border-top: 1px solid #ddd; padding-top: 10px; margin-bottom: 10px;">
	<div class="input-group">
		<span class="input-group-addon">Embed-Code:</span>
		<textarea readonly="" type="text" class="form-control" name="embedcode" placeholder="Embed-Code" style="height: 80px;">&lt;iframe style="width: 100%; height: 540px; overflow: hidden;" src="http://interaktiv.tagesanzeiger.ch/wahlen/monitor/show/<%= monitor.get('id') %>" frameborder="0" allowtransparency="true" width="100%" height="540" scrolling="no"&gt;&lt;/iframe&gt;</textarea>
	</div>
</div>

<div class="col col-100 form-header" style="border-bottom: 1px solid #ddd; border-top: 1px solid #ddd; padding-top: 10px; margin-bottom: 20px;">

	<div class="col col-40">
		<div class="input-group" style="margin-bottom: 10px;">
			<span class="input-group-addon">Arbeitstitel:</span>
	     	<input type="text" class="form-control" placeholder="Titel eingeben" name="title" value="<%= monitor.get('title') %>">
	    </div>
	    <div class="input-group" style="margin-bottom: 10px;">
			<span class="input-group-addon">Titel über Monitor DE:</span>
	     	<input type="text" class="form-control" placeholder="Titel eingeben" name="title_de" value="<%= monitor.get('title_de') %>">
	    </div>
	    <div class="input-group" style="margin-bottom: 10px;">
			<span class="input-group-addon">Titel über Monitor FR:</span>
	     	<input type="text" class="form-control" placeholder="Titel eingeben" name="title_fr" value="<%= monitor.get('title_fr') %>">
	    </div>
	</div>


	<div class="col col-40">

		<div class="col col-50">
			<div class="dropdown" data-attribute="extendsFrom" style="margin-bottom: 0px; clear: both;">
				<div class="label label-default">Grundlage:</div>
				<button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
			    	<span class="text">
			    		<% if (monitor.get('extendsFrom') == 0) { %>
			    			keine
			    		<% }else{ %>
			    			<%= monitors.get(monitor.get('extendsFrom')).get('title') %>
			    		<% } %>
			    	<span class="caret"></span>
			  	</button>
			  	<ul class="dropdown-menu">
				    <li><a class="action" data-value="">keine Grundlage</a></li>
				    <% for (var i = 0; i < monitors.length; i++){ %>
				    	<li><a class="action" data-value="<%= monitors.at(i).get('id') %>"><%= monitors.at(i).get('title') %></a></li>
				    <% } %>
			  	</ul>
			</div>

			<div class="dropdown" data-attribute="mobileFallback" style="margin-bottom: 0px; clear: both;">
				<div class="label label-default">Mobile Fallback:</div>
				<button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
			    	<span class="text">
			    		<% if (monitor.get('mobileFallback') == 0) { %>
			    			keinen
			    		<% }else{ %>
			    			<%= monitors.get(monitor.get('mobileFallback')).get('title') %>
			    		<% } %>
			    	<span class="caret"></span>
			  	</button>
			  	<ul class="dropdown-menu">
				    <li><a class="action" data-value="">kein Fallback</a></li>
				    <% for (var i = 0; i < monitors.length; i++){ %>
				    	<li><a class="action" data-value="<%= monitors.at(i).get('id') %>"><%= monitors.at(i).get('title') %></a></li>
				    <% } %>
			  	</ul>
			</div>
		</div>

		<div class="col col-50">
			<div class="dropdown" data-attribute="language" style="margin-bottom: 0px; clear: both;">
				<div class="label label-default">Sprache:</div>
				<button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
			    	<span class="text"><%= monitor.get('language') %></span>
			    	<span class="caret"></span>
			  	</button>
			  	<ul class="dropdown-menu">
				    <li><a class="action" data-value="de">de</a></li>
				    <li><a class="action" data-value="fr">fr</a></li>
			  	</ul>
			</div>

			<div class="dropdown" data-attribute="layout" style="margin-bottom: 0px; clear: both;">
				<div class="label label-default">Layout:</div>
				<button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
			    	<span class="text"><%= __(monitor.get('layout')) %></span>
			    	<span class="caret"></span>
			  	</button>
			  	<ul class="dropdown-menu">
				    <li><a class="action" data-value="2-1"><%= __('2-1') %></a></li>
				    <li><a class="action" data-value="1-1-1"><%= __('1-1-1') %></a></li>
				    <li><a class="action" data-value="1"><%= __('1') %></a></li>
			  	</ul>
			</div>
		</div>

	</div>

	<div class="col col-20">
		<a class="btn btn-default action toggle-visibility" style="float: right; margin-bottom: 10px;">
			<span class="glyphicon glyphicon-eye-<%= monitor.get('visibility') ? 'open' : 'close' %>"></span>
			<span class="text">Sichtbar</span>
		</a>

		<a class="btn btn-default action toggle-show-more" style="float: right; clear: both; margin-bottom: 10px;">
			<span class="glyphicon glyphicon-<%= monitor.get('showmore') ? 'check' : 'unchecked' %>"></span>
			<span class="text">mehr-Button anzeigen</span>
		</a>

		<a class="btn btn-default action toggle-no-area-selection" style="float: right; clear: both;">
			<span class="glyphicon glyphicon-<%= monitor.get('noareaselection') ? 'check' : 'unchecked' %>"></span>
			<span class="text">Regionsauswahl sperren</span>
		</a>
	</div>

</div>



<div class="col col-100" id="monitor-cols">

</div>