
<h3>Wahlresultate bearbeiten</h3>

<div class="col col-100 form-header" style="border-bottom: 1px solid #ddd; border-top: 1px solid #ddd; padding-top: 10px; margin-bottom: 20px;">
	<div class="col col-25">
		<div class="input-group" style="margin-bottom: 10px;">
			<span class="input-group-addon">Rat:</span>
	     	<input type="text" class="form-control" placeholder="Name eingeben" name="council" value="<%= election.get('council') %>">
	    </div>
	    <div class="input-group">
			<span class="input-group-addon">Jahr:</span>
	     	<input type="text" class="form-control" placeholder="Jahr angeben" name="year" value="<%= election.get('year') %>">
	    </div>
	</div>

	<div class="col col-25">
		<div class="input-group" style="margin-bottom: 10px;">
			<span class="input-group-addon">Anzahl Sitze:</span>
	     	<input type="text" class="form-control" placeholder="Zahl eingeben" name="seats" value="<%= election.get('seats') %>">
	    </div>
	    <% if (election.get('votesystem') == 'majorz'){ %>
	    	<div class="input-group" style="margin-bottom: 10px;">
				<span class="input-group-addon">Absolutes Mehr:</span>

				<% if (isNaN(parseInt(election.get('absolutemajority'))) || election.get('absolutemajority') > 0){ %>
			     	<input type="text" class="form-control" placeholder="(wenn leer wirds berechnet)" name="absolutemajority" value="<%= election.get('absolutemajority') %>">
			    <% } %>

		     	<span class="input-group-btn">
		       		<button class="btn btn-default toggle-absolute-majority" type="button">
		       			<span class="glyphicon glyphicon-eye-<%= election.get('absolutemajority') < 0 ? 'close' : 'open' %>"></span>
		       		</button>
		     	</span>
		    </div>
		    <div class="input-group" style="margin-bottom: 10px;">
				<span class="input-group-addon">Kantonskürzel:</span>
		     	<input type="text" class="form-control" placeholder="(für Import)" name="canton" value="<%= election.get('canton') %>">
		    </div>
	    <% } %>
	</div>

	<div class="col col-25">
		<div class="input-group" style="margin-bottom: 10px;">
			<span class="input-group-addon">Resultat DE:</span>
	     	<input type="text" class="form-control" placeholder="Resultat beschreiben" name="resultdesc_de" value="<%= election.get('resultdesc_de') %>">
	    </div>

	    <div class="input-group" style="margin-bottom: 10px;">
			<span class="input-group-addon">Resultat FR:</span>
	     	<input type="text" class="form-control" placeholder="Resultat beschreiben" name="resultdesc_fr" value="<%= election.get('resultdesc_fr') %>">
	    </div>

	</div>

	<div class="col col-25">

		<% if (dataVersion == undef){ %>
			<div class="dropdown" id="edit-votesystem">
				<div class="label label-default">Wahlsystem:</div>
				<button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
			    	<span class="text"><%= election.get('votesystem') %></span>
			    	<span class="caret"></span>
			  	</button>
			  	<ul class="dropdown-menu">
				    <li><a class="action" data-votesystem="proporz">proporz</a></li>
				    <li><a class="action" data-votesystem="majorz">majorz</a></li>
			  	</ul>
			</div>
		<% }else{ %>

			<p class="caption" style="margin-bottom: 22px;">Gewalt: <%= election.get('votesystem') %></p>

			<% if (election.get('votesystem') == 'majorz'){ %>

				<div class="btn btn-default action toggle-second-election">
					<span class="glyphicon glyphicon-<%= election.get('secondElection') ? 'check' : 'unchecked' %>"></span>
					<span class="text">2ter Wahlgang wird benötigt</span>
				</div>

			<% } %>

		<% } %>

	</div>
</div>

<div class="col col-100">
	<div class="col col-80" id="data-form">

	</div>

	<div class="col col-20" id="data-log">
	</div>
</div>