
<div class="col col-70">
	<table class="table searchable">

		<thead>
			<tr>
				<th colspan="7">Erfasste Wahlresultate</th>
			</tr>
			<tr>
				<td>Rat</td>
				<td width="70">Jahr</td>
				<td>Beschreibung</td>
				<td width="80">Wahl-<br>system</td>
				<td width="110">zuletzt<br>synchronisiert</td>
				<td width="110">letztes<br>Update</td>
				<!--<th>erstellt</th>-->
				<td width="140"></td>
			</tr>

			<tr>
				<th><input type="text" class="form-control" placeholder="Suchen"></th>
				<th><input type="text" class="form-control" placeholder="Suchen"></th>
				<th><input type="text" class="form-control" placeholder="Suchen"></th>
				<th><input type="text" class="form-control" placeholder="Suchen"></th>
				<th></th>
				<th></th>
				<th width="100"></th>
			</tr>

		</thead>

		<tbody>
			<% for (var i = 0; i < elections.length; i++){ %>


				<tr>
					<td><%= elections.at(i).get('council') %></td>
					<td><%= elections.at(i).get('year') %></td>
					<td><%= elections.at(i).get('resultdesc_de') %></td>
					<td><%= elections.at(i).get('votesystem') %></td>
					<td>
						<%= __(elections.at(i).get('synced'), { formatAsFuzzyDate: true }) %><br>
						<span class="comment"><%= __(elections.at(i).get('synced'), { formatAsReadableDate: true }) %></span>
					</td>
					<td>
						<%= __(elections.at(i).get('modified'), { formatAsFuzzyDate: true }) %><br>
						<span class="comment"><%= __(elections.at(i).get('modified'), { formatAsReadableDate: true }) %></span>
					</td>
					<!--<td>
						<%= __(elections.at(i).get('created'), { formatAsFuzzyDate: true }) %><br>
						<span class="comment"><%= __(elections.at(i).get('created'), { formatAsReadableDate: true }) %></span>
					</td>-->
					<td>
						<a href="/editelection/<%= elections.at(i).get('id') %>" class="btn btn-default">
							<span class="glyphicon glyphicon-pencil"></span>
						</a>
						<div class="btn btn-default action copy-election" data-id="<%= elections.at(i).get('id') %>">
							<span class="glyphicon glyphicon-duplicate"></span>
						</div>
						<div class="btn btn-default action delete-election" data-id="<%= elections.at(i).get('id') %>">
							<span class="glyphicon glyphicon-trash"></span>
						</div>
					</td>
				</tr>

			<% } %>
		</tbody>

	</table>
</div>

<div class="col col-30">
	<table class="table">

		<thead>
			<tr>
				<th>Neues Wahlresultat hinzufügen</th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td>

					<div class="input-group" id="new-election">
						<span class="input-group-addon">Rat:</span>
				     	<input type="text" class="form-control" placeholder="Name eingeben">
				     	<span class="input-group-btn">
				       		<button class="btn btn-default" type="button">
				       			<span class="glyphicon glyphicon-plus"></span>
				       		</button>
				     	</span>
				    </div>
				</td>
			</tr>
		</tbody>

	</table>
</div>