
<h3>JSON Importer für den Kanton ZH</h3>

<div class="col col-100 form-header" style="border-bottom: 1px solid #ddd; border-top: 1px solid #ddd; padding-top: 10px; margin-bottom: 20px;">
	
	<% if (election.get('votesystem') == 'proporz'){ %>
		<p class="caption">JSON Import für <strong><%= election.get('council') %></strong> von <strong>Nationalratswahlen Kanton Zürich</strong></p>
	<% }else{ %>
		<p class="caption">JSON Import für <strong><%= election.get('council') %></strong> von <strong>Ständeratswahlen Kanton Zürich</strong></p>
	<% } %>
	
</div>

<div class="col col-100">

	<div class="col col-80">

		<% if (election.get('votesystem') == 'proporz'){ %>

			<table class="table">

				<thead>
					<tr>
						<th>Liste / Partei</th>

						<th>Stimmen (neu)</th>

						<th>Anteil (neu)</th>

						<th style="color: #b5b5b5;">Wähleranteil (bisher)</th>					
						
					</tr>
				</thead>

				<tbody>
					<% for (var i = 0; i < newZHData.length; i++){ %>

						<tr<%= newZHData[i].foundInImport ? (newZHData[i].percentFound ? ' style="background: #ffffc0;"' : ' style="background: #f1f1f1;"') : '' %>>
							<td><%= newZHData[i].party %></td>
							<td><%= newZHData[i].vote %></td>
							<td><%= newZHData[i].percent %>%</td>
							<td style="color: #b5b5b5;"><%= newZHData[i].oldPercent %>%</td>
						</tr>

					<% } %>
				</tbody>

			</table>

			<button class="btn btn-default save-data">
				<span class="glyphicon glyphicon-import"></span>
				<span class="text">Daten importieren</span>
			</button>

		<% }else if (election.get('votesystem') == 'majorz'){ %>
			
			<table class="table">

				<thead>
					<tr>
						<th>Kandidat</th>

						<th>Stimmen (neu)</th>

						<th style="color: #b5b5b5;">Stimmen (bisher)</th>					
						
					</tr>
				</thead>

				<tbody>
					<% for (var i = 0; i < newZHData.length; i++){ %>

						<tr<%= newZHData[i].foundInImport ? (newZHData[i].percentFound ? ' style="background: #ffffc0;"' : ' style="background: #f1f1f1;"') : '' %>>
							<td><%= newZHData[i].prename %> <%= newZHData[i].lastname %> (<%= newZHData[i].party %>)</td>
							<td><%= newZHData[i].vote %></td>
							<td style="color: #b5b5b5;"><%= newZHData[i].oldVote %></td>
						</tr>

					<% } %>
				</tbody>

			</table>

			<button class="btn btn-default save-data">
				<span class="glyphicon glyphicon-import"></span>
				<span class="text">Daten importieren</span>
			</button>

		<% } %>

	</div>

	<div class="col col-20" id="data-log">
	</div>
</div>