
<h3>Wahlresultate bearbeiten</h3>

<div class="col col-100 form-header" style="border-bottom: 1px solid #ddd; border-top: 1px solid #ddd; padding-top: 10px; margin-bottom: 20px;">
	
	<% if (election.get('votesystem') == 'proporz'){ %>
		<p class="caption">CSV Import für <strong><%= election.get('council') %></strong></p>
	<% }else{ %>
		<p class="caption">Noch kein Importer für den Legislativrat...</p>
	<% } %>
	
</div>

<div class="col col-100">

	<div class="col col-80" id="import-form">

		<% if (election.get('votesystem') == 'proporz'){ %>
			<textarea type="text" class="form-control" id="csv-content" name="text" placeholder="CSV Inhalt" style="height: 300px; margin-bottom: 10px;"></textarea>

			<div class="input-group" id="random-value" style="margin-bottom: 10px;">
				<span class="input-group-addon">+/- zufälliger Prozentsatz:</span>
		     	<input type="text" class="form-control" placeholder="Zahl von 0 bis 100">
		    </div>

			<div class="dropdown" id="choose-type">
				<div class="label label-default">Zahlen speichern als:</div>
				<button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
			    	<span class="text">Wähleranteil</span>
			    	<span class="caret"></span>
			  	</button>
			  	<ul class="dropdown-menu">
				    <li><a class="action" data-type="vote">Anzahl Stimmen</a></li>
				    <li><a class="action" data-type="percent">Wähleranteil</a></li>
			  	</ul>
			</div>

			<button class="btn btn-default import-data">
				<span class="glyphicon glyphicon-import"></span>
				<span class="text">Daten importieren</span>
			</button>
		<% }else{ %>
			<div class="col col-100">&nbsp;</div>
		<% } %>

	</div>

	<div class="col col-20" id="data-log">
	</div>
</div>