
<h3>HTML Import vom Bundesamt für Statistik</h3>

<div class="col col-100 form-header" style="border-bottom: 1px solid #ddd; border-top: 1px solid #ddd; padding-top: 10px; margin-bottom: 20px;">
	
	<% if (election.get('votesystem') == 'proporz'){ %>
		<p class="caption">HTML Import für <strong><%= election.get('council') %></strong> für das Jahr <strong><%= election.get('year') %></strong></p>
	<% }else{ %>
		<p class="caption">HTML Import für <strong><%= election.get('council') %></strong> für das Jahr <strong><%= election.get('year') %></strong></p>
	<% } %>
	
</div>

<div class="col col-100">

	<div class="col col-80"<%= election.get('votesystem') == 'proporz' ? ' style="overflow-x: scroll;"' : '' %>>

		<% if (election.get('votesystem') == 'proporz'){ %>

			<table class="table import-data">

				<thead>
					<tr>
						<th></th>

						<% if (members.length > 0) {
							for (var p = 0; p < members[0].data.length; p++){ %>
								<th style="text-align: center;">
									<%= members[0].data[p].party %>
								</th>
						<% 	}
						} %>
						
					</tr>
				</thead>

				<tbody>
					<% for (var i = 0; i < members.length; i++){ %>


						<tr>

							<td><%= members[i].area %></td>

							<% for (var p = 0; p < members[i].data.length; p++){ %>
								<td<%= members[i].data[p].foundInImport ? (members[i].data[p].percentFound ? ' style="background: #ffffc0;"' : ' style="background: #f1f1f1;"') : '' %>>
									<%= members[i].data[p].percentFound ? '<span style="color: #b5b5b5; font-size: 10px;">'+Math.round(members[i].data[p].oldPercent*10)/10+'</span><br>' : ''%>
									<%= Math.round(members[i].data[p].percent*10)/10 %>
								</td>
							<% } %>

						</tr>

					<% } %>

					<tr class="add-area-row">
						<td colspan="<%= members.length > 0 ? members[0].data.length+3 : 1 %>">
							<button class="btn btn-default save-data">
								<span class="glyphicon glyphicon-import"></span>
								<span class="text">Daten importieren</span>
							</button>
						</td>
					</tr>

				</tbody>

			</table>

			

		<% }else if (election.get('votesystem') == 'majorz'){ %>
			

			<table class="table import-data">

				<thead>
					<tr>
						<th>Vorname</th>
						<th>Nachname</th>
						<th>Partei</th>
						<th>Stimmen (neu)</th>
						<th style="color: #b5b5b5;">Stimmen (bisher)</th>
					</tr>
				</thead>

				<tbody>
					<% for (var i = 0; i < members.length; i++){ %>


						<tr<%= members[i].voteFound ? ' style="background: #ffffc0;"' : '' %>>
							<td><%= members[i].prename %></td>
							<td><%= members[i].lastname %></td>
							<td><%= members[i].party %></td>
							<td><%= members[i].vote %></td>
							<td style="color: #b5b5b5;"><%= members[i].oldVote %></td>
						</tr>

					<% } %>

					<tr class="add-area-row">
						<td colspan="5">
							<button class="btn btn-default save-data">
								<span class="glyphicon glyphicon-import"></span>
								<span class="text">Daten importieren</span>
							</button>
						</td>
					</tr>

				</tbody>

			</table>

		<% } %>

	</div>

	<div class="col col-20" id="data-log">
	</div>
</div>