
	<h2>
		<%= monitorCol.get('majorzTitle') %>
		<% if (!monitor.get('noareaselection')){ %>
			<span class="open-area-dropdown action">
				<span class="text"></span>
			</span>
		<% } %>
	</h2>

	<div class="diagram-content"></div>

	<div class="dropdown majorz-results" style="position: absolute; top: 58px; left: 0px;">
		<button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
	    	<span class="text"></span>
	  	</button>
	  	<ul class="dropdown-menu"></ul>
	</div>

	<div class="area-dropdown">
		<div class="inside-area-dropdown"></div>
	</div>
