<table class="table">

	<thead>
		<tr>
			
			<th>Vorname</th>
			<th>Nachname</th>
			<th>Bild</th>
			<th>Partei</th>
			<th>Stimmen</th>
			<th>
				<span class="glyphicon glyphicon-check"></span> im 1. <br>Wahlgang<br>gewählt
			</th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		<% for (var i = 0; i < members.length; i++){ %>

			<tr>
				<td><input type="text" class="form-control" placeholder="Vorname" name="prename" value="<%= members[i].prename %>"></td>
				<td><input type="text" class="form-control" placeholder="Nachname" name="lastname" value="<%= members[i].lastname %>"></td>
				<td><input type="text" class="form-control" placeholder="Bild" name="image" value="<%= members[i].image %>"></td>
				<td><input type="text" class="form-control" placeholder="Partei" name="party" value="<%= members[i].party %>"></td>
				<td><input type="text" class="form-control" placeholder="Anzahl" name="vote" value="<%= members[i].vote %>"></td>
				<!--<td><input type="text" class="form-control" placeholder="%" name="percent" value="<%= members[i].percent %>"></td>-->

				<td>
					<div class="btn btn-default action toggle-allready-elected" data-i="<%= i %>">
						<span class="glyphicon <%= members[i].allreadyElected == true ? 'glyphicon-check' : 'glyphicon-unchecked' %>"></span>
					</div>
				</td>

				<td>
					<div class="btn btn-default action remove-member" data-i="<%= i %>">
						<span class="glyphicon glyphicon-minus"></span>
					</div>
				</td>
			</tr>

		<% } %>

		<tr class="add-area-row">
			<td colspan="5"></td>
			<td>
				<div class="btn btn-default action add-member">
					<span class="glyphicon glyphicon-plus"></span>
				</div>
			</td>
		</tr>

	</tbody>

</table>

<button class="btn btn-default save-data">
	<span class="glyphicon glyphicon-download"></span>
	<span class="text">Neue Version speichern</span>
</button>