
<div class="col col-70">
	<table class="table searchable">

		<thead>
			<tr>
				<th colspan="6">Aktive Monitore</th>
			</tr>
			<tr>
				<td>id</td>
				<td>Titel</td>
				<td>Layout</td>
				<!--<td>Proporz<br>Vorauswahl</td>-->
				<!--<td>Majorz<br>Vorauswahl</td>-->
				<td width="110">synchronisiert</td>
				<td width="110">geändert</td>
				<!--<td width="110">erstellt</td>-->
				<td  width="100"></td>
			</tr>

			<tr>
				<th><input type="text" class="form-control" placeholder="Suchen" style="width: 50px;"></th>
				<th><input type="text" class="form-control" placeholder="Suchen"></th>
				<th></th>
				<!--<th><input type="text" class="form-control" placeholder="Suchen"></th>-->
				<!--<th><input type="text" class="form-control" placeholder="Suchen"></th>-->
				<th></th>
				<th></th>
				<!--<th></th>-->
				<th width="140"></th>
			</tr>

		</thead>

		<tbody>
			<% for (var i = 0; i < monitors.length; i++){ %>


				<tr>
					<td><%= monitors.at(i).get('id') %></td>
					<td><%= monitors.at(i).get('title') %></td>
					<td><%= __(monitors.at(i).get('layout')) %></td>

					<!--
					<td>
						<%= monitors.at(i).get('proporzPreselection') == '' ? '-' : monitors.at(i).get('proporzPreselection') %>
					</td>
					<td>
						<% var majorzAreas = monitors.at(i).get('majorzAreas'); %>
						<%= majorzAreas.length == 0 ? '-' : majorzAreas[monitors.at(i).get('majorzShowOnStartArea')].name %>
					</td>
					-->

					<td>
						<%= __(monitors.at(i).get('synced'), { formatAsFuzzyDate: true }) %><br>
						<span class="comment"><%= __(monitors.at(i).get('synced'), { formatAsReadableDate: true }) %></span>
					</td>

					<td>
						<%= __(monitors.at(i).get('modified'), { formatAsFuzzyDate: true }) %><br>
						<span class="comment"><%= __(monitors.at(i).get('modified'), { formatAsReadableDate: true }) %></span>
					</td>
					<!--
					<td>
						<%= __(monitors.at(i).get('created'), { formatAsFuzzyDate: true }) %><br>
						<span class="comment"><%= __(monitors.at(i).get('created'), { formatAsReadableDate: true }) %></span>
					</td>
					-->
					<td>
						<a href="/editmonitor/<%= monitors.at(i).get('id') %>" class="btn btn-default">
							<span class="glyphicon glyphicon-pencil"></span>
						</a>
						<div class="btn btn-default action delete-monitor" data-id="<%= monitors.at(i).get('id') %>">
							<span class="glyphicon glyphicon-trash"></span>
						</div>
						<a class="btn btn-default action" href="show/<%= monitors.at(i).get('id') %>" target="_blank">
							<span class="glyphicon glyphicon-eye-open"></span>
						</a>
					</td>
				</tr>

			<% } %>
		</tbody>

	</table>
</div>

<div class="col col-30">
	<table class="table">

		<thead>
			<tr>
				<th>Neuer Monitor hinzufügen</th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td>

					<div class="input-group" id="new-monitor">
						<span class="input-group-addon">Titel:</span>
				     	<input type="text" class="form-control" placeholder="">
				     	<span class="input-group-btn">
				       		<button class="btn btn-default" type="button">
				       			<span class="glyphicon glyphicon-plus"></span>
				       		</button>
				     	</span>
				    </div>
				</td>
			</tr>
		</tbody>

	</table>
</div>