<% if (title != ''){ %>
	<div class="monitor-title">
		<img src="imgs/Logo-wahlen2015.png" alt="Tages-Anzeiger">
		<h1><%= title %></h1>
	</div>
<% } %>

<div class="monitor-diagrams layout-<%= layout %>"></div>