<div class="col col-100" style="overflow-x: scroll;">
	<table class="table">

		<thead>
			<tr>
				<th></th>

				<th colspan="2" style="font-family: 'Benton Sans Cond';">
					<span class="glyphicon glyphicon-check"></span> Endresultat<br>
					<span class="glyphicon glyphicon-unchecked"></span> Teilresultat
				</th>
				<% if (members.length > 0) {
					for (var p = 0; p < members[0].data.length; p++){ %>
						<th style="text-align: center;">
							<input type="text" class="form-control input-party" placeholder="Partei" value="<%= members[0].data[p].party %>" style="margin-bottom: 5px; width: 40px; display: inline;">
							<div class="btn btn-default action remove-party" data-p="<%= p %>">
								<span class="glyphicon glyphicon-minus"></span>
							</div>
						</th>
				<% 	}
				} %>

				<th>
					<div class="btn btn-default action add-party">
						<span class="glyphicon glyphicon-plus"></span>
					</div>
				</th>
				
			</tr>
		</thead>

		<tbody>
			<% for (var i = 0; i < members.length; i++){ %>


				<tr>

					<td>
						<div class="btn btn-default action remove-area" data-i="<%= i %>">
							<span class="glyphicon glyphicon-minus"></span>
						</div>
					</td>

					<td>
						<div class="btn btn-default action toggle-result-type" data-i="<%= i %>">
							<span class="glyphicon <%= members[i].resultType == 'final' ? 'glyphicon-check' : 'glyphicon-unchecked' %>"></span>
						</div>
					</td>

					<td><input type="text" class="form-control input-area" placeholder="Region" value="<%= members[i].area %>" style="width: 100px;"></td>

					<% for (var p = 0; p < members[0].data.length; p++){ %>
						<td>
							<!--<input type="text" class="form-control input-vote input-50" placeholder="Stimmen" value="<%= members[i].data[p].vote %>">-->
							<input type="text" class="form-control input-percent" placeholder="%" value="<%= members[i].data[p].percent %>">
						</td>
					<% } %>

				</tr>

			<% } %>

			<tr class="add-area-row" style="text-align: left;">
				<td colspan="<%= members.length > 0 ? members[0].data.length+3 : 1 %>">
					<div class="btn btn-default action add-area">
						<span class="glyphicon glyphicon-plus"></span>
					</div>
				</td>
			</tr>

		</tbody>

	</table>
</div>

<button class="btn btn-default save-data">
	<span class="glyphicon glyphicon-download"></span>
	<span class="text">Neue Version speichern</span>
</button>